<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ClassEdge</title>

    <script language="JavaScript" type="text/javascript" src="/assets/js/jquery/jquery-1.9.1.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/blog.css" rel="stylesheet">

    <script src="/assets/js/ie-emulation-modes-warning.js"></script>
    
    <!-- Data Table -->

    <script type="text/javascript" src="/assets/js/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/assets/js/datatables/jquery.dataTables.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
          $('#basic-datatable').DataTable();
        });
    </script>
</head>

<body>

    <div class="container">
        <div class="container">
            <div class="row">
                <h1 class="col-lg-6" align="left">ClassEdge</h1>
                <img class="col-lg-6"  align="right" style="width:150px;height:60px;">
            </div>


            <!-- <p class="lead">Disable the responsiveness of Bootstrap by fixing the width of the container and using the first grid system tier.</p> -->
        </div>
    </div>

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item " href="/">Home</a>
                <a class="blog-nav-item active" href="#">School Detail</a>
                <a class="blog-nav-item" href="/nongsm/list">Contract Details</a>
                <a class="blog-nav-item" href="#">Agreement Detail</a>
            </nav>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-12 blog-main">

            <div class="blog-post">

              
            </div>
                <div class="col-md-12">
                    <!-- Panel Main Start -->

                    <!-- Datatables Start -->
                    <div class="panel panel-default">
                        <div class="panel-heading">School Details</div>
                        <div class="panel-body">
                            <form  method="post" class="validator-form" action="#">
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="control-label">School Name</label>
                                        <input type="text" class="form-control" 
                                        value="<%=data[0].school_name%>" disabled/>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label">Location</label>
                                        <input type="text" class="form-control"  value="<%=data[0].location%>" disabled/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="control-label">State</label>
                                        <input type="text" class="form-control" value="<%=data[0].state%>" disabled />
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label">Zone</label>
                                        <input type="text" class="form-control" value="<%=data[0].zone%>" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="control-label">sap customer code</label>
                                        <input type="text" class="form-control" value="<%=data[0].sap_customer_code%>" disabled />
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label">School Type</label>
                                        <input type="text" class="form-control" value="<%=data[0].school_type%>" disabled  />
                                    </div>
                                </div>
                            </div>                                                          
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="control-label">Mancom manager email address
                                        </label>
                                        <input type="text" class="form-control" value="<%=data[0].mancom_manager_email_address%>" disabled />
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label">Relationship manager</label>
                                        <input type="text" class="form-control" value="<%=data[0].relationship_manager%>" disabled  />
                                    </div>
                                </div>
                            </div> 

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="control-label">sales Manager</label>
                                        <input type="text" class="form-control" value="<%=data[0].sales_manager%>" disabled />
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label">Sales Manager Email address</label>
                                        <input type="text" class="form-control" value="<%=data[0].sales_manager_email_address%>" disabled  />
                                    </div>
                                </div>
                            </div>                                                         
                              
                            <hr class="dotted">
                            
                            <div class="form-group">
                                
                            <a href="/contractDetail?id=<%=data[0].sap_customer_code%>">Contract Details</a>            
                                
                            </div>                            

                            </form>                        

                        </div>
                    </div> 
                </div>            
            



                <!-- /.blog-post -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

        <footer class="blog-footer">
            <p>Serial No validation </a> by TATA Cap Pvt Ltd</a>.</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>        


        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
